aiohttp
aiofiles
asyncio
ffmpeg-python
numpy
pillow
pyrogram
py-tgcalls
pytube
wget
python-dotenv
search-engine-parser
tgcrypto
httpx
youtube_search_python
youtube-search
speedtest-cli
cryptography
dnspython
future
googletrans
hurry.filesize
motor
psutil
pykeyboard
pyromod
requests
speedtest-cli
uvloop
yt-dlp==2021.11.10.1
telegraph
hachoir
lyricsgenius
httpx>=0.14.2
