aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram
py-tgcalls==0.8.2
pytube
wget
python-dotenv
search-engine-parser
tgcrypto
youtube-search-python==1.4.9
youtube-search
speedtest-cli
cryptography
dnspython
future
googletrans==4.0.0-rc1
hurry.filesize
motor
psutil
pykeyboard
pyromod
requests
uvloop
yt-dlp==2022.8.8
telegraph
hachoir
lyricsgenius
numpy
httpx>=0.14.2
